beautifulsoup4==4.11.1
configparser==5.3.0
matplotlib==3.6.0
numpy==1.23.3
opencv-python==4.6.0.66
psutil==5.9.2
scikit-image==0.19.3
scikit-learn==1.1.2
seaborn==0.12.1
Shapely==1.8.5.post1
svgpath2mpl==1.0.0
tabulate==0.8.10
tqdm==4.64.1
